<hgroup id="brand">
	<!-- Homepage -->
	{{- if eq .Kind "home" -}}
	<!-- Top ページの haKiwata を表す -->
	<h1>{{ .Site.Title }}</h1>
	<h5>{{- with .Site.Params.Tagline -}}{{.}}{{- end -}}</h5>
	<!-- Section List -->
	{{- else if ( or ( eq .Kind "section") ( eq .Kind "taxonomyTerm" ) ) -}}
	<!-- Post, About のタイトルを表す -->
	<h1>{{ .Title }}</h1>
	<!-- Ordinary Page -->
	{{- else if eq .Kind "page" -}}
	<h1>{{ .Title }}</h1>
	<h5>
		{{ $dateformat := .Site.Params.DateFmt | default "Jan 02, 2006" }}
		<time datetime="{{.Date}}">{{ .Date.Format $dateformat }}</time>
		<span class="no-print">
			{{ with .Params.tags -}}
			-
				{{ range . }}
				<a href="/tags/{{ lower .}}">{{.}}</a>
				{{ end }}
			{{- end -}}
			{{- with .Params.workURL -}}
			-
			<a href="{{.}}">{{ T "workHomepage" }}</a>
			{{- end -}}
		<span>
	</h5>
	<!-- Tags Page -->
	{{- else if eq .Kind "taxonomy" -}}
	<h1>{{ .Title | title }}</h1>
	<!-- Tag の詳細画面で出る ex.) Tag: Assembler -->
	{{- else if .Params.title -}}
	<h1>{{ .Title | title }}</h1>
	{{ end }}
</hgroup>
<hr class="sep" />
